@CHARSET "UTF-8";

.bg-body {
	padding: 50px 0;
	background-color: #5cb85c;
}

.bg {
	padding: 50px 0;
	border-radius: 10px;
	background-color: #edeff1;
}

@media screen and (max-width:479px) {
	.bg-body {
		padding: 0;
	}
	.bg {
		padding: 30px 0;
		border-radius: 5px;
		background-color: #edeff1;
	}
}
/* 屏幕小于320px */
@media screen and (max-width:320px) and (max-device-width:320px) {
	.bg-body {
		padding: 0;
	}
	.bg {
		padding: 0;
		border-radius: 5px;
		background-color: #edeff1;
	}
}